h1 {
  font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  color: #5C88DA;
}

h2 {
  font-family: 'Trebuchet MS';
  text-align: center;
  color: #5C88DA;
  padding: 10px 0;
}
a
h3 {
  text-align: left;  
  border-top: 1px solid #5C88DA;
}

.header, body {
  border-bottom: 3px solid #5C88DA;
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
}


.subtitle {
  font-size: 75%;
  color: #808080;
  text-transform: none;
}

p, ul, label, body {
  font-family: Verdana, "DejaVu Sans";
  margin-bottom: 0;
}