h1 {
    font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    color: #5C88DA;
}

h2 {
    font-family: 'Trebuchet MS';
    text-align: center;
    color: #5C88DA;
    padding: 10px 0;
}

h3 {
    text-align: left;  
    border-top: 1px solid #5C88DA;
}

.header, body {
    border-bottom: 3px solid #5C88DA;
}


.profil_card, .create_user {
    margin-top: 1%;
    padding: 1%;
    border: 3px solid white;
}

.container, .filtre {
    margin-top: 1%;
    padding: 1%;
    border: 3px solid #5C88DA;
}


.subtitle {
    font-size: 75%;
    color: #808080;
    text-transform: none;
}

p, ul, label, body {
    font-family: Verdana, "DejaVu Sans";
    margin-bottom: 0;
}

