h1 {
    font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    color: #5C88DA;
}

h2 {
    font-family: 'Trebuchet MS';
    text-align: center;
    color: #5C88DA;
    padding: 10px 0;
}

h3 {
    text-align: center;
    border-top: 1px solid #5C88DA;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil_card {
    margin-top: 1%;
    padding: 1%;
    border: 3px solid white;
    height: 600px;
}

.create_user {
    margin-top: 1%;
    padding: 1%;
    border: 3px solid white;
}

.container, .filtre {
    margin-top: 1%;
    padding: 1%;
    border: 3px solid #5C88DA;
    width: 30%;
    float: left;
}

.subtitle {
    font-size: 75%;
    color: #808080;
    text-transform: none;
}

p, ul, label, body {
    font-family: Verdana, "DejaVu Sans";
    margin-bottom: 0;
}

form.retour{
    text-align:right;
    margin: 0.5%;
    padding: 0.5%;
}
form.creer {
    text-align:center;
    margin: 0.5%;
    padding: 0.5%;
}

div.name {
    text-align: center;
    align-content: start;
    margin: 0.5%;
    padding: 0.5%;
}

div.activity {
    text-align: center;
    align-content: start;
    margin: 0.5%;
    padding: 0.5%;
}

div.localisation {
    text-align: center;
    align-content: start;
    margin: 0.5%;
    padding: 0.5%;
}

div.number_student {
    text-align: center;
    align-content:start;
    margin: 0.5%;
    padding: 0.5%;
}

